{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead d-block w-100"
  style="
    background-image: url('static/milo-miloezger-rKYRJu0n06Y-unsplash.jpg');
    height:80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;"
>

</header>
<!-- Main Content-->
<main class="mb-4 mt-5">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          At our cafe guide, we believe coffee is more than just a drink—it’s a lifestyle.
          Whether you need a place to meet friends, catch up on work, or simply enjoy the perfect
          espresso, we help you find the best cafes in your area.
        </p>
        <p>
          In today’s fast-paced world, a reliable internet connection is essential.
          Our list of cafes ensures you stay connected while enjoying your favorite
          cup of coffee. Work, browse, or stream—without missing a beat.
        </p>
        <p>
          Whether you need a place to meet friends, catch up on work, or simply enjoy the perfect
          espresso, we help you find the best cafes in your area. Our list of cafes
          ensures you stay connected while enjoying your favorite
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}